p {
                font-size: 22pt;
                color: red;
            }
            
            #gruby_malik {
                font-size: 17pt;
                color: green;
                font-weight: bold;
            }
            
            #dlawszystkich_malik {
                font-size: 10pt;
                color: blue;
                font-family: 'Arial';
            }
        /* Malik_z22  */