#pogrubienie_malik {
                font-size: 30px;
                color: #7e59ca;
            }
            
            #pochylona_malik {
                font-size: 35pt;
                color: #e2bd66;
            }
            
            #index_gorny_malik {
                font-size: 1cm;
                color: #928b16;
            }
            
            #index_dolny_malik {
                font-size: 1.5cm;
                color: rgb(18%, 93%,87%);
            }
            
            #mono_malik {
                font-size: 40px;
                color: #12db66;
            }
            
            #powiekszenie_malik {
                color: #4c3b98;
            }
            
            #pomniejszenie_malik {
                color: rgb(69%, 62%, 20%);
            }