h3 {  
        font-size: smaller; 
        width: 300px; 
        height:4cm; 
        padding    : 30px; 
        margin-left     : auto; 
        border     : 10px ridge #800080; 
        background : rgb(219, 112, 147); 
} 
/* Malik_z34  */